@model List<focusApp.Models.FocusTask>   

<table>
    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Proje ID</th>
        <th>Tamamlandı</th>
        <th>İşlem</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ProjectId</td>
            <td>@item.IsCompleted</td>
            <td>
                <a href="/Tasks/Edit/@item.TaskId">Düzenle</a>
                <a href="/Tasks/Delete/@item.TaskId">Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Tasks/Create">Yeni Görev</a>

