@model focusApp.Models.Tag
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="TagId" />
    <label>Etiket Adı:</label>
    <input asp-for="Name" /><br />
    <label>Kullanıcı ID:</label>
    <input asp-for="UserId" /><br />
    <button type="submit">Kaydet</button>
</form>
